
@media screen and (max-width: 1024px) {
    header {
      padding: 15px;
  
      h1 {
        font-size: 44px;
      }
    }
  
    .Camisetas .grid-camisetas,
    .Pantalones .grid-pants,
    .Zapatillas .grid-zapas {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .Verano .grid-verano,
    .Invierno .grid-invierno {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .titulo {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
  
      h1 {
        font-size: 42px;
        margin-left: 10px;
      }
  
      nav ul {
        flex-direction: column;
        align-items: flex-start;
  
        li a {
          padding: 10px 0 10px 10px;
          font-size: 18px;
        }
      }
    }
  
    .Camisetas .grid-camisetas,
    .Pantalones .grid-pants,
    .Zapatillas .grid-zapas {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .inicio {
      h1 {
        font-size: 38px;
      }
  
      p,
      .info p {
        margin: 0 10px;
        font-size: 16px;
      }
    }
  
    .card {
      img,
      .lavadora,
      .micro {
        width: 90%;
      }
    }
  
    .titulo {
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 600px) {
    header {
      padding: 10px;
  
      nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
  
        li a {
          padding: 10px 0 10px 10px;
          font-size: 18px;
        }
      }
  
      h1 {
        font-size: 40px;
        margin-left: 20px;
      }
    }
  
    .Camisetas .grid-camisetas,
    .Pantalones .grid-pants,
    .Zapatillas .grid-zapas {
      grid-template-columns: 1fr;
      padding: 0 20px;
      background-color: transparent;
  
      .img1,
      .img2,
      .img3,
      .img4,
      .img5,
      .img6,
      .img7,
      .img8,
      .img9 {
        width: 100%;
        justify-content: center;
      }
    }
  
    .Verano .grid-verano,
    .Invierno .grid-invierno {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .inicio {
      h1 {
        font-size: 40px;
      }
  
      p,
      .info p {
        margin: 0 10px;
        font-size: 18px;
      }
    }
  
    .contenedor {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      img,
      .lavadora,
      .micro {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  
    .titulo {
      font-size: 50px;
    }
  
    .confirmacion {
      flex-direction: column;
      align-items: center;
  
      .no,
      .si {
        margin: 0 0 10px;
        width: 80%;
        text-align: center;
      }
    }
  }
  